@font-face 
{
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Light.ttf');
}

html
{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
}

body
{
	font-size: 2vh;
	
	font-family: 'Open Sans Condensed', sans-serif;
	
	background: url("../backgrounds/bg5.jpg");
	background-size: cover;
}

i.fa
{
	font-weight: normal;
}