nav
{
	position: absolute;
	top: 10%;
	left: 0;
	width: 7vh;
	height: 90%;
	
	background: black;
	
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	
	display: table;
}

nav div
{
	display: table-row;
	
	cursor: pointer;
	
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
nav div:hover
{	
	background: rgba(255, 87, 34, 0.4);
}

nav div span
{
	display: table-cell;
	vertical-align: middle;
	
	text-align: center;
	
	height: 10vh;
}

nav div span img
{
	height: 6vh;
	width: 6vh;
}